<head>
<style>
.label-default {
	color:white;
	background-color:#FF848F;
	font-size: 25px;
}
.tags{
	position: relative;
}
.label-default a {
	color:white;
}
</style>
</head>

<body>
	<div class="tags">
	<% @hashtags.each do |hashtag| %>
  	<span class="label label-default"><%= link_to "#"+hashtag.name, hashtag_path(hashtag.name) %></span>
	<% end %>
	</div>
</body>
