<head>
<style>
.label-default {
	color:white;
	background-color:#FF848F;
	font-size: 25px;
}

</style>
</head>

<span class="label label-default">#<%= params[:hashtag] %></span>
<% if @hashtagged %>
  <% @hashtagged.each do |hashtagged| %>
  <div class="hash-eachpost">
    <%= render_hashtaggable hashtagged %>
    </div>
  <% end %>
<% else %>
  <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
<% end %>

