<p>
 <strong>Title:</strong>
  <%= post.title %>
</p>
<p>
  <%= image_tag @post.photo, :width => 400 %>
</p>
  <strong>Text:</strong>
  <%= post.text %>
</p>
<p>
  <strong>Emotion: </strong>
  <%= post.emotion %>
</p>  
