@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster);

.col-md-3 {padding: 10px}
.crop-height {
	height: 20d0px;
	overflow: hidden;
}
#userid {
	position:relative;
	top:15px;
}
#controlBar-bgndVideo.mb_YTPBar_compact {
	font-size:0px !important;
}

